.ScoreList {
  width: 100%;
  text-align: left;
  padding: 0em 1em;
  margin: 0 0 1em 0;
}

.ScoreList thead {
  font-weight: bold;
}

.ScoreList > tr > td {
  padding: 4px;
  background-color: #cccccc
}
